<ion-view view-title="Issue details">

  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Filtre</button>
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>

  <ion-content>
    <h4>Commentaires <span class="badge badge-positive">{{commentsCtrl.nbComments}}</span></h4>
    <div class="list card">

  <div ng-repeat="comment in commentsCtrl.comments" class="item item-body padding">
    <div class="item item-avatar">
      <p>{{comment.author.name}} <br /> {{ comment.createdAt | date :'EEE dd.MM.yyyy'}}</p>
      <p>{{comment.text}}</p>
    </div>
  </div>

    <!-- Display an error message here, above the submit button, if an error occurred. -->
    <p ng-if="signinCtrl.error" class="error">{{ signinCtrl.error }}</p>

    <!--
      The submit button.
      The "ng-click" directive indicates which scope function to call when the form is submitted.
      The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
    -->
    <div class="card">
    <form name="addCommentForm">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Poster un commentaire</span>
          <textarea placeholder="Comments" ng-model="commentsCtrl.text" required ></textarea>
      </label>
      <button class="button button-full button-positive" ng-click="commentsCtrl.create()" ng-disabled="addCommentForm.$invalid">Commenter</button>
    </div>
  </form>
  </div>

</div>
<button class="button button-full button-positive" ng-click="commentsCtrl.showMore()">
  Show More
</button>
  </ion-content>
</ion-view>
