<ion-view view-title="Issue details">

  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Filtre</button>
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list card">

  <div class="item item-body padding">
    <img width="100%" [height]="imgHeight" src="{{issueDetailCtrl.issue.imageUrl}}">
    <div class="item item-avatar">
      <h2>Type: {{issueDetailCtrl.issue.issueType.name}} - {{issueDetailCtrl.issue.issueType.description}}</h2>
      <p>Description: {{issueDetailCtrl.issue.description}}</p>
      <p>Créateur: {{issueDetailCtrl.issue.creator.name}}</p>
      <p>Date: {{issueDetailCtrl.issue.createdAt}}</p>
      <p>Etat: {{issueDetailCtrl.issue.state}}</p>
      <p>Tags: <span ng-repeat="tag in issueDetailCtrl.issue.tags">{{tag}} ,</span></p>
      <p><a ui-sref='tab.comment'>Voir les commentaires</a></p>
    </div>
  </div>

</div>
  </ion-content>
</ion-view>
