<ion-view view-title="Issue details">

  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Filtre</button>
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list card">

  <div class="item item-body padding">
    <img width="100%" [height]="imgHeight" src="{{issue.imageUrl}}">
    <div class="item item-avatar">
      <h2>{{issue.type}}</h2>
      <p>{{issue.description}}</p>
      <p>{{issue.creatorHref}}</p>
      <p>Date: {{issue.createdAt}}</p>
      <p>{{issue.state}}</p>
      <p>Commentaire</p>
    </div>
  </div>

</div>
  </ion-content>
</ion-view>
