<ion-view view-title="Issue Map">
  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>

  <ion-content scroll='false' data-tap-disabled='true'>
    <leaflet width='100%' height='100%'
             defaults='mapCtrl.defaults'
             center='mapCtrl.center'
             markers='mapCtrl.markers'
             bounds="mapCtr.bounds">
    </leaflet>
  </ion-content>

</ion-view>
