<ion-view view-title="New Issue">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div ng-controller='MapCtrl as mapCtrl'>
        <label class="item item-input">
          <input disabled="true" ng-model="newIssueCtrl.issue.location.coordinates[1]" type="text" placeholder="Latitude: {{ mapCtrl.center.lat }}" value="{{ mapCtrl.center.lat }}">
        </label>
        <label class="item item-input">
          <input disabled="true" ng-model="newIssueCtrl.issue.location.coordinates[0]" type="text" placeholder="Longitude: {{ mapCtrl.center.lng }}" value="{{ mapCtrl.center.lng }}">
        </label>
      </div>

  <div class="item item-body newIssue">
    <div class="button-bar row">
      <a class="button ion-plus-circled"></a>
      <a class="button ion-ios-camera-outline"></a>
      <a class="button ion-image"></a>
    </div>
    </ion-nav-buttons>    <div class="item item-avatar">
      <select ng-model="newIssueCtrl.issue.issueType" ng-options="type as (type.description + ' - ' + type.name) for type in newIssueCtrl.issueTypes">
        <option value="">-- please choose a type --</option>
      </select>
      <label class="item item-input">
        <textarea ng-model="newIssueCtrl.issue.description" placeholder="Description"></textarea>
      </label>
      <label class="item item-input tags">
        <input ng-model="newIssueCtrl.issue.tags" type="text" placeholder="Tags">
      </label>
      <button type="button" ng-click="newIssueCtrl.create()" class="button">Suivant</button>


    </div>
  </div>

</div>
  </ion-content>
</ion-view>
