<ion-view view-title="New Issue">
  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button">Log Out</button>
  </ion-nav-buttons>
  <ion-content>
    <ul>
      <li ng-repeat='message in newIssueCtrl.messages'>{{ message }}</li>
    </ul>
    <div class="list card">
      <div ng-controller='MapCtrl as mapCtrl'>
        <label class="item item-input">
          <input disabled="true" ng-model="newIssueCtrl.latitude" type="text" placeholder="Latitude: {{ mapCtrl.center.lat }}" value="{{ mapCtrl.center.lat }}">
        </label>
        <label class="item item-input">
          <input disabled="true" ng-model="newIssueCtrl.longitude" type="text" placeholder="Longitude: {{ mapCtrl.center.lng }}" value="{{ mapCtrl.center.lng }}">
        </label>
      <div class="row">
        <div class="col"></div>
        <div class="col"><img width=100% [height]="imgHeight" src="img/logoCC.png"></div>
        <div class="col"></div>
      </div>

  <div class="item item-body newIssue">
    <img ng-if='newIssueCtrl.pictureData' width='100%' ng-src='data:image/png;base64,{{ newIssueCtrl.pictureData }}' />
    <div class="button-bar button-dark row">
      <a class="button button-dark ion-camera"ng-click='newIssueCtrl.takePicture()'></a>
    </div>
    </ion-nav-buttons>

    <div class="row responsive-lg">
      <div clas="col">
      <label class="item item-input item-select">
    <div class="input-label">
      Choisissez un type pour classer votre issue
    </div>
  </div>
    <div class="col">
    <select ng-model="newIssueCtrl.issue.issueType" ng-options="type as (type.description + ' - ' + type.name) for type in newIssueCtrl.issueTypes">
      <option selected value="">-- Merci de choisir le type --</option>
    </select>
  </div>
  </label>
    </div>

      <label class="item item-input">
        <textarea class="descriptionNewIssue" ng-model="newIssueCtrl.issue.description" placeholder="Description"></textarea>
      </label>
      <label class="item item-input tags">
        <input ng-model="newIssueCtrl.issue.tags" type="text" placeholder="Tags">
      </label>
      <button type="button" ng-click="newIssueCtrl.create()" class="button">Suivant</button>


    </div>
  </div>
</div>
  </ion-content>
</ion-view>
